# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.egg-info/

# Virtualenv
.venv/
.env
.env.*

# VSCode / Mac / Jupyter
.vscode/
.DS_Store
.ipynb_checkpoints/
.mypy_cache/
pytest_cache/

# Airflow
airflow/logs/
.airflow/

# OS
Thumbs.db